<h1>Ideas Factory</h1>

  <div class="row">
    <% @ideas.each do |idea| %>
        <div class= "col-md-12 mt-3 mb-3" > 
            <hr>    
            <div class= "card-body">
                <h5><%= link_to(
                idea.title,
                idea_path(idea.id),
                )%></h5>
            
                <p><%= idea.description %></p>

                <div>
                    <small>
                        Posted <%= time_ago_in_words(idea.created_at) %> ago
                    </small>
                </div>
            </div>
            <hr>
        </div>
    <% end %>
  </div>